# SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: Apache-2.0

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.label }}
    strategy:
      matrix:
        include:
          - label: caladan
            attr: darwinConfigurations.caladan.config.system.build.toplevel
            runner: macos-latest

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Nix
        run: .github/workflows/install-nix.sh
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build
        run: nix build -L --show-trace ".#$NIX_BUILD_ATTR"
        env:
          NIX_BUILD_ATTR: ${{ matrix.attr }}
